html {
  background-image: url("bank.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-family: 'Nixie One', cursive;
  font-size: 26px;
  font-weight: bold;
}

input {
  font-size: 24px;
  width: 200px;
}

button {
  height: 50px;
  width: 150px;
  margin: 15px;
  font-size: 22px;
  border-radius: 2px;
  background-color: white;
}

.flex {
  display: flex;
  justify-content: center;
  margin: 13px;
}

.centerText {
  background-color: #f7f5ec;
  opacity: 0.80;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  width: 800px;
}

.tableLayout {
  width: 800px;
}

.noTopBorder {
  border-top: 0px;
}

td {
  border-top: 1px solid #bbbbbb;
}

.budgetInput {
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
}

.rowInputs {
  margin-right: 400px;
}

.costInput {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 50px;
}

.leftAlign {
  text-align: left;
  margin-left: 100px;
}

#chart {
  margin-top: -50px;
  margin-bottom: -100px;
}